/*
 * Skin: NaranjaPIM
 * ------------
 */
.skin-pim .main-header .navbar {
    background-color: #e66500;
}
.skin-pim .main-header .navbar .nav > li > a {
    color: #ffffff;
}
.skin-pim .main-header .navbar .nav > li > a:hover,
.skin-pim .main-header .navbar .nav > li > a:active,
.skin-pim .main-header .navbar .nav > li > a:focus,
.skin-pim .main-header .navbar .nav .open > a,
.skin-pim .main-header .navbar .nav .open > a:hover,
.skin-pim .main-header .navbar .nav .open > a:focus,
.skin-pim .main-header .navbar .nav > .active > a {
    background: rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
}
.skin-pim .main-header .navbar .sidebar-toggle {
    color: #ffffff;
}
.skin-pim .main-header .navbar .sidebar-toggle:hover {
    color: #f6f6f6;
    background: rgba(0, 0, 0, 0.1);
}
.skin-pim .main-header .navbar .sidebar-toggle {
    color: #fff;
}
.skin-pim .main-header .navbar .sidebar-toggle:hover {
    background-color: #e08e0b;
}
@media (max-width: 767px) {
    .skin-pim .main-header .navbar .dropdown-menu li.divider {
        background-color: rgba(255, 255, 255, 0.1);
    }
    .skin-pim .main-header .navbar .dropdown-menu li a {
        color: #fff;
    }
    .skin-pim .main-header .navbar .dropdown-menu li a:hover {
        background: #e08e0b;
    }
}
.skin-pim .main-header .logo {
    background-color: #e08e0b;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}
.skin-pim .main-header .logo:hover {
    background-color: #db8b0b;
}
.skin-pim .main-header li.user-header {
    background-color: #e66500;
}
.skin-pim .content-header {
    background: transparent;
}
.skin-pim .wrapper,
.skin-pim .main-sidebar,
.skin-pim .left-side {
    background-color: #222d32;
}
.skin-pim .user-panel > .info,
.skin-pim .user-panel > .info > a {
    color: #fff;
}
.skin-pim .sidebar-menu > li.header {
    color: #4b646f;
    background: #1a2226;
}
.skin-pim .sidebar-menu > li > a {
    border-left: 3px solid transparent;
}
.skin-pim .sidebar-menu > li:hover > a,
.skin-pim .sidebar-menu > li.active > a {
    color: #ffffff;
    background: #1e282c;
    border-left-color: #e66500;
}
.skin-pim .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #2c3b41;
}
.skin-pim .sidebar a {
    color: #b8c7ce;
}
.skin-pim .sidebar a:hover {
    text-decoration: none;
}
.skin-pim .treeview-menu > li > a {
    color: #8aa4af;
}
.skin-pim .treeview-menu > li.active > a,
.skin-pim .treeview-menu > li > a:hover {
    color: #ffffff;
}
.skin-pim .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
}
.skin-pim .sidebar-form input[type="text"],
.skin-pim .sidebar-form .btn {
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.skin-pim .sidebar-form input[type="text"] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
}
.skin-pim .sidebar-form input[type="text"]:focus,
.skin-pim .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    background-color: #fff;
    color: #666;
}
.skin-pim .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    border-left-color: #fff;
}
.skin-pim .sidebar-form .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
}
/*
 * Skin: Yellow
 * ------------
 */
.skin-pim-light .main-header .navbar {
    background-color: #e66500;
}
.skin-pim-light .main-header .navbar .nav > li > a {
    color: #ffffff;
}
.skin-pim-light .main-header .navbar .nav > li > a:hover,
.skin-pim-light .main-header .navbar .nav > li > a:active,
.skin-pim-light .main-header .navbar .nav > li > a:focus,
.skin-pim-light .main-header .navbar .nav .open > a,
.skin-pim-light .main-header .navbar .nav .open > a:hover,
.skin-pim-light .main-header .navbar .nav .open > a:focus,
.skin-pim-light .main-header .navbar .nav > .active > a {
    background: rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
}
.skin-pim-light .main-header .navbar .sidebar-toggle {
    color: #ffffff;
}
.skin-pim-light .main-header .navbar .sidebar-toggle:hover {
    color: #f6f6f6;
    background: rgba(0, 0, 0, 0.1);
}
.skin-pim-light .main-header .navbar .sidebar-toggle {
    color: #fff;
}
.skin-pim-light .main-header .navbar .sidebar-toggle:hover {
    background-color: #e08e0b;
}
@media (max-width: 767px) {
    .skin-pim-light .main-header .navbar .dropdown-menu li.divider {
        background-color: rgba(255, 255, 255, 0.1);
    }
    .skin-pim-light .main-header .navbar .dropdown-menu li a {
        color: #fff;
    }
    .skin-pim-light .main-header .navbar .dropdown-menu li a:hover {
        background: #e08e0b;
    }
}
.skin-pim-light .main-header .logo {
    background-color: #e66500;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}
.skin-pim-light .main-header .logo:hover {
    background-color: #f39a0d;
}
.skin-pim-light .main-header li.user-header {
    background-color: #e66500;
}
.skin-pim-light .content-header {
    background: transparent;
}
.skin-pim-light .wrapper,
.skin-pim-light .main-sidebar,
.skin-pim-light .left-side {
    background-color: #f9fafc;
}
.skin-pim-light .content-wrapper,
.skin-pim-light .main-footer {
    border-left: 1px solid #d2d6de;
}
.skin-pim-light .user-panel > .info,
.skin-pim-light .user-panel > .info > a {
    color: #444444;
}
.skin-pim-light .sidebar-menu > li {
    -webkit-transition: border-left-color 0.3s ease;
    -o-transition: border-left-color 0.3s ease;
    transition: border-left-color 0.3s ease;
}
.skin-pim-light .sidebar-menu > li.header {
    color: #848484;
    background: #f9fafc;
}
.skin-pim-light .sidebar-menu > li > a {
    border-left: 3px solid transparent;
    font-weight: 600;
}
.skin-pim-light .sidebar-menu > li:hover > a,
.skin-pim-light .sidebar-menu > li.active > a {
    color: #000000;
    background: #f4f4f5;
}
.skin-pim-light .sidebar-menu > li.active {
    border-left-color: #e66500;
}
.skin-pim-light .sidebar-menu > li.active > a {
    font-weight: 600;
}
.skin-pim-light .sidebar-menu > li > .treeview-menu {
    background: #f4f4f5;
}
.skin-pim-light .sidebar a {
    color: #444444;
}
.skin-pim-light .sidebar a:hover {
    text-decoration: none;
}
.skin-pim-light .treeview-menu > li > a {
    color: #777777;
}
.skin-pim-light .treeview-menu > li.active > a,
.skin-pim-light .treeview-menu > li > a:hover {
    color: #000000;
}
.skin-pim-light .treeview-menu > li.active > a {
    font-weight: 600;
}
.skin-pim-light .sidebar-form {
    border-radius: 3px;
    border: 1px solid #d2d6de;
    margin: 10px 10px;
}
.skin-pim-light .sidebar-form input[type="text"],
.skin-pim-light .sidebar-form .btn {
    box-shadow: none;
    background-color: #fff;
    border: 1px solid transparent;
    height: 35px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.skin-pim-light .sidebar-form input[type="text"] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
}
.skin-pim-light .sidebar-form input[type="text"]:focus,
.skin-pim-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    background-color: #fff;
    color: #666;
}
.skin-pim-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    border-left-color: #fff;
}
.skin-pim-light .sidebar-form .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
}
@media (min-width: 768px) {
    .skin-pim-light.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
        border-left: 1px solid #d2d6de;
    }
}