{% extends 'ThemeBundle:Default:layout_base.html.twig' %}

{% block content -%}


    <div class="row">
        <div class="col-xs-12">
            <div class="col-lg-offset-2">
                Hola PIM
            </div>
        </div>
    </div>



{% endblock %}

